@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;600;700;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700;800&display=swap");

* {
  margin: 0;
  box-sizing: border-box;
  font-family: "Open Sans";
}

h2,
span {
  text-shadow: 3px 3px rgba(0, 0, 0, 0.16);
}

p {
  text-shadow: 1px 1px rgba(0, 0, 0, 0.16);
}

.home {
  background-color: #011f49;
  display: flex;
  width: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.home li {
  list-style: none;
  font-size: 1.25rem;
}

a {
  text-decoration: none;
  color: white;
}

.mobile__nav {
  display: none;
}

/* Nav -top*/
.desktop__nav,
.mobile__nav {
  position: absolute;
  top: 0;
  margin-top: 1em;
  width: 100vw;
  color: white;
  align-items: center;
}

.desktop__nav {
  justify-content: space-between;
  display: flex;
}

.desktop__nav-left ul {
  display: flex;
}

.desktop__nav-left li {
  margin-right: 2em;
}

.desktop__nav-right ul {
  display: flex;
}

.desktop__nav-right li {
  margin-right: 2em;
}

.logo {
  color: white;
  display: flex;
  flex-direction: column;
}

.desktop__nav-middle {
  display: flex;
  gap: 0.8rem;
  align-items: center;
}

.desktop__nav-middle img {
  width: 5rem;
  height: auto;
}

.logo__white,
.logo__orange {
  font-family: "Poppins";
  font-weight: 800;
  font-size: 2.8rem;
  line-height: 2.4rem;
}

.logo__orange {
  color: #ffbd59;
}

.logo p {
  font-family: "Poppins";
  font-weight: 400;
  font-size: 1rem;
  text-align: end;
  color: #ffbd59;
  margin-left: 30px;
}

/*Nav -bottom */

.mobile__wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  width: 100vw;
  align-items: center;
}

.mobile__nav-middle {
  grid-column-start: 2;
  grid-column-end: 3;
}

.mobile__nav-burger div {
  width: 30px;
  height: 3px;
  background-color: white;
  margin: 5px;
}

.mobile__nav-burger {
  cursor: pointer;
  grid-column-start: 3;
  grid-column-end: 4;
  justify-self: end;
  margin-right: 0.5rem;
  z-index: 10;
}

.mobile__nav-slide {
  position: absolute;
  right: 0;
  top: -1rem;
  width: 100vw;
  height: 100vh;
  background-color: #011f49;
  display: grid;
  place-items: center;
  transform: translateX(100%);
  transition: transform 0.5s ease-in;
  padding: 0;
  z-index: 9;
}

.mobile__nav-slide ul {
  height: 80%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  margin-right: 3rem;
}

.mobile__nav-slide ul li a {
  font-size: 3rem;
}

.nav-active {
  transform: translateX(0%);
}

/* Background */

.background__banner {
  position: absolute;
  top: 6.5rem;
  width: 100vw;
  height: calc(100vh - 6.5rem);
  color: white;
  background-image: url(../assets/baggrund.png);
  background-position: initial;
  background-size: cover;
  background-repeat: no-repeat;
  font-family: "Poppins";
  text-transform: uppercase;
  letter-spacing: 0.3rem;
}

.background__text-position {
  position: absolute;
  top: 7rem;
  margin-left: 8rem;
}

.background__banner h2,
.background__banner span {
  font-size: 3rem;
  font-weight: 800;
}

.background__banner span {
  color: #ffbd59;
}

/* Video Container */
.video__container {
  position: absolute;
  top: 24rem;
  height: 27rem; /* remember this to center absolute elements, left,right, both margins auto combo */
  width: 100vw;
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-around;
  color: white;
}

.viedo__container-youtube {
  width: 37rem;
  height: auto;
  border-radius: 34px;
  border: 0;
}

.video__container section {
  padding-left: 2.31rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-evenly;
  background-color: rgba(1, 31, 73, 0.4);
  border-radius: 34px;
  padding: 1.6em;
}

.video__container h1 {
  font-size: 1.8rem;
  padding-bottom: 1rem;
  font-family: "Poppins";
  font-weight: 600;
  letter-spacing: 0.3rem;
  text-transform: uppercase;
}

.video__container p {
  font-size: 1.1rem;
  width: calc(80ch - 15vw);
  line-height: 1.5em;
  font-weight: 500;
}

.desktop__button,
.mobile__button {
  background-color: #ffbd59;
  color: #011f49;
  border-radius: 8px;
  padding: 14px 40px;
  font-weight: 800;
  font-size: 1.3rem;
  margin-top: 1em;
  align-self: center;
}

.mobile__button {
  display: none;
}

/* Kompetencer */
.kompetencer {
  background-color: #55407d;
  color: white;
}

.kompetencer h2 {
  font-size: 3rem;
  text-align: center;
  position: absolute;
  top: 4rem;
  right: 0;
  left: 0;
  text-transform: uppercase;
}

.kompetencer__list {
  display: flex;
  width: 90%;
  margin-right: auto;
  margin-left: auto;
  right: 0;
  left: 0;
  justify-content: space-evenly;
  align-items: flex-end;
  font-weight: 700;
  font-size: 1.7rem;
  text-align: center;
  position: absolute;
  top: 12rem;
}

.kompetencer__list img {
  width: 6.5rem;
  height: auto;
}

.kompetencer__list-underline {
  height: 0.4rem;
  width: 100%;
  margin-top: 0.3rem;
  background-color: white;
}

.kompetencer__paragraph {
  font-weight: 600;
  font-size: 1.5rem;
  width: 90ch;
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  background-color: #011f49;
  border-radius: 16px;
  padding: 32px 16px;
  margin-bottom: auto;
}

.kompetencer__button-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2em;
  position: absolute;
  margin-top: auto;
  top: 84%;
  right: 0;
  left: 0;
}

.kompetencer a {
  background-color: #ffbd59;
  font-size: 2rem;
  padding: 1rem 2rem;
  border-radius: 26px;
  font-weight: 700;
}

.kompetencer__button-wrapper img {
  width: 6rem;
  height: auto;
}

/* Referencer */
.referencer {
  background-color: #011f49;
  color: white;
}

.referencer h2 {
  text-align: center;
  display: block;
  position: absolute;
  top: 3rem;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  font-weight: 800;
  font-size: 3rem;
  text-transform: uppercase;
}

.referencer__wrapper {
  display: flex;
  width: 100%;
  justify-content: space-evenly;
}

.referencer__item-list li {
  list-style: none;
  font-weight: 700;
  font-size: 1.3rem;
}

.fa-check {
  color: #ffbd59;
  padding-right: 1rem;
}

.referencer__item-card-wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.referencer__item img {
  width: 16em;
  height: auto;
  margin-bottom: 1rem;
}

.referencer__item h3 {
  text-align: center;
  font-weight: 700;
  font-size: 1.5rem;
  padding: 1rem;
  width: 100%;
}

.yummy-eats h3 {
  background-color: #ffbd59;
}

.fog-el h3 {
  background-color: #a067b1;
}

.grey-wolf h3 {
  background-color: #4c396f;
}

/* Kontakt */

.kontakt {
  background-color: #55407d;
  color: white;
}

.kontakt__wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 3rem;
  margin-bottom: 10rem;
}

.kontakt__wrapper article {
  text-align: center;
  background-color: #011f49;
  padding: 4.6rem;
  border-radius: 34px;
}

.kontakt__wrapper article h2 {
  font-weight: 700;
  font-size: 2rem;
  margin-bottom: 1.5rem;
  text-transform: uppercase;
}

.kontakt__logo-wrapper img {
  display: none;
}

.kontakt__wrapper article p {
  font-size: 1.1rem;
}

form {
  width: 30rem;
}

form input {
  padding: 1.5rem;
  border-radius: 16px;
  width: 100%;
  font-weight: 600;
  font-size: 1.2rem;
  font-family: "Open Sans";
}

form input:last-child {
  background-color: #ffbd59;
  color: #011f49;
  font-weight: 800;
}

form input:last-child:hover {
  color: white;
}
form input:not(:last-child) {
  margin-bottom: 0.3rem;
}

footer {
  position: absolute;
  bottom: 0;
  background-color: #011f49;
  width: 100vw;
  height: 9rem;
}

.footer__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  margin-right: 3rem;
  margin-left: 3rem;
}

.footer__wrapper img {
  width: 6.5rem;
  height: auto;
}

.footer__icons i {
  font-size: 2rem;
}

.footer__icons i:not(:last-child) {
  padding-right: 2rem;
}

.footer__link-start {
  position: absolute;
  right: 0;
  background-color: #4c396f;
  padding: 0.7rem;
  border-radius: 50%;
  margin-right: 0.4rem;
  margin-top: 0.4rem;
}

.footer__link-start i {
  font-size: 1.3rem;
}

@media screen and (max-width: 1200px) {
  html {
    font-size: 14px;
  }

  .referencer__item img {
    width: 16em;
  }
}

@media screen and (max-width: 1000px) {
  html {
    font-size: 12px;
  }

  .background__banner {
    position: absolute;
    top: 6.5rem;
    width: 100vw;
    height: calc(26vh - 6.5rem);
    color: white;
    background-image: url(../assets/baggrund.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    font-family: "Poppins";
    text-transform: uppercase;
    letter-spacing: 0.3rem;
  }

  .background__text-position {
    position: initial;
    top: 0;
    margin-left: 0;
    margin-top: 4rem;
    text-align: center;
  }

  .background__banner h2,
  .background__banner span {
    font-size: 2.2rem;
    font-weight: 800;
  }

  .background__banner span {
    color: #ffbd59;
  }

  .background__banner p {
  }

  .referencer__item img {
    width: 17em;
  }
}

@media screen and (max-width: 800px) {
  html {
    font-size: 10px;
  }

  .desktop__nav {
    display: none;
  }

  .mobile__nav {
    display: flex;
  }

  .video__container {
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    height: 100%;
  }

  .desktop__button {
    display: none;
  }

  .video__container h2,
  .video__container span {
    font-size: 3rem;
  }

  .video__container section {
    padding-left: 0;
    width: 100%;
  }

  .viedo__container-youtube {
    width: 100%;
    height: 30%;
  }

  .mobile__button {
    display: inline-block;
    margin-top: 2rem;
    margin-left: 0;
  }

  .video__container p {
    font-size: 2rem;
    max-width: 50ch;
    line-height: 1.5em;
    font-weight: 500;
  }

  .referencer__item img {
    width: 19em;
  }

  .kontakt__wrapper {
    transform: scale(1.15);
  }

  .kontakt__wrapper {
    flex-direction: column;
    height: 80%;
    gap: 5rem;
  }

  .kontakt__wrapper article {
    background-color: #55407d;
    padding: 0;
  }

  .kontakt__logo-wrapper {
    display: flex;
    align-items: center;
    gap: 1rem;
    justify-content: center;
    margin-bottom: 4rem;
  }

  .kontakt__wrapper article h2 {
    font-weight: 700;
    font-size: 4rem;
    margin-bottom: 0;
  }

  .kontakt__logo-wrapper img {
    display: block;
    width: 6.5rem;
  }

  .kontakt__wrapper article p {
    font-size: 2rem;
  }

  form {
    width: 35rem;
  }

  form input {
    padding: 2rem;
    font-size: 2rem;
  }

  form input:not(:last-child) {
    margin-bottom: 0.6rem;
  }

  footer {
    height: 11rem;
    font-size: 1.8rem;
  }

  .footer__icons i {
    font-size: 2.5rem;
  }

  .footer__wrapper {
    margin-right: 4.4rem;
    margin-left: 4.4rem;
  }

  .footer__wrapper img {
    display: none;
  }

  .footer__link-start {
    padding: 1.1rem;
    border-radius: 50%;
    margin-right: 0.4rem;
    margin-top: 0.4rem;
  }

  .footer__link-start i {
    font-size: 1.6rem;
  }
}

@media screen and (max-width: 600px) {
  html {
    font-size: 8px;
  }

  .kompetencer__list {
    display: grid;
    justify-items: center;
    align-items: center;
    gap: 2rem;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 1fr 1fr 0.5fr;
    width: 60%;
    font-weight: 700;
    font-size: 1.7rem;
    text-align: center;
  }

  .kompetencer__list-item {
    grid-column: span 2;
  }

  .kompetencer__list-item:last-child {
    grid-column: 2 / span 2;
  }

  .kompetencer__list img {
    width: 6.5rem;
    height: auto;
  }

  .kompetencer__list-underline {
    height: 0.4rem;
    width: 6.5rem;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0.3rem;
    background-color: white;
  }

  .longer {
    width: 13ch;
  }

  .kompetencer__paragraph {
    font-size: 1.65rem;
    width: 45ch;
    top: 53.7%;
    text-align: center;
    padding: 28px 12px;
  }

  .kompetencer__button-wrapper {
    display: flex;
    flex-direction: column;
  }

  .kompetencer__button-wrapper img {
    width: 7rem;
    height: auto;
  }

  .kompetencer a {
    background-color: #ffbd59;
    font-size: 2rem;
    padding: 1.5rem 2.8rem;
    border-radius: 26px;
    font-weight: 700;
  }

  .fog-el {
    flex-direction: row-reverse;
    justify-content: center;
  }

  .fog-el ul {
    padding-left: 0;
    padding-right: 40px;
  }

  .referencer__item {
    display: flex;
    align-items: center;
  }

  .referencer__wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 80%;
    position: absolute;
    top: 13%;
  }

  .referencer__item-card-wrapper {
    width: fit-content;
    height: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .referencer__item-list li {
    font-size: 2rem;
  }

  .referencer__item img {
    width: 16em;
    height: 180px;
    margin-bottom: 1rem;
  }

  .referencer__item h3 {
    text-align: center;
    font-weight: 700;
    font-size: 1.9rem;
    padding: 1.2rem;
    width: 100%;
  }
}
